@charset "UTF-8";

body {
  background-image: url("maid.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  background-color: #afeeee;
  margin: 0;
  line-height: 1.6;
}

#outer {
  max-width: 1000px;
  margin: 2% auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

#content {
  float: right;
  width: 70%;
}

aside {
  float: left;
  width: 30%;
}

.profile {
  display: flex;
  gap: 30px;
  align-items: flex-start;
}
@media screen and (max-width: 768px) {

  #content,
  aside {
    float: none;
    width: 100%;
  }

  aside {
    margin-top: 20px;
  }

  .profile {
    flex-direction: column;
  }
}
@media screen and (max-width: 600px) {

  #outer {
    width: 100%;
    margin: 0;
  }

  h1 {
    font-size: 22px;
  }

  .profile img {
    width: 100%;
  }
}
