@charset "UTF-8";

body {
  background-image: url("maid.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-color: #afeeee;
  margin: 0;
  line-height: 1.4;
  font-family: sans-serif;
}

#outer {
  max-width: 1000px;
  margin: auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  padding: 20px;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header h1 {
  margin: 0;
  font-size: 24px;
  text-align: center;
}

.description {
  text-align: center;
  margin-top: 5px;
  color: #666;
  font-size: 14px;
}

/* メイン部分：左右2カラム */
.profile {
  display: flex;
  gap: 20px;
  flex: 1;
  overflow: hidden;
}

.profile-left {
  f
